{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>Home Page using Jinja tags!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugiat, rerum consectetur fugit illo pariatur sed eveniet ea voluptatum repellendus provident voluptates corporis qui distinctio error ab dolore placeat necessitatibus exercitationem. Nesciunt libero soluta ut quam nostrum, magnam in quis iure labore sunt quae sequi repudiandae omnis quod ex nemo enim maiores porro modi repellendus illo nobis saepe. Doloremque totam, beatae optio quo dolore, sequi inventore enim velit id quis voluptates reiciendis odit facere, cupiditate a autem fuga iure doloribus quia ipsum laborum. Cumque, similique dolorem dolores iusto quibusdam ullam earum tempore harum, a provident vel.</p>
{% endblock %}